.vs/
Assemblies/
DisableAnnoyingCutscenes/bin/
DisableAnnoyingCutscenes/obj/
DisableAnnoyingCutscenes/Thunderstore/plugins/viliger-DisableAnnoyingCutscenes/
PedsAreAlwaysVisible/bin/
PedsAreAlwaysVisible/obj/
DisableAnnoyingCutscenes/Thunderstore/Thunderstore.zip
